[submodule "workspace/src/external/sick_scan2"]
	path = workspace/src/external/sick_scan2
	url = git@github.com:SICKAG/sick_scan2.git
[submodule "workspace/src/external/zed-ros2-wrapper"]
	path = workspace/src/external/zed-ros2-wrapper
	url = git@github.com:stereolabs/zed-ros2-wrapper.git
[submodule "workspace/src/external/sbg_ros2_driver"]
	path = workspace/src/external/sbg_ros2_driver
	url = git@github.com:SBG-Systems/sbg_ros2_driver.git
[submodule "workspace/src/external/wa_simulator_ros_bridge"]
	path = workspace/src/external/wa_simulator_ros_bridge
	url = git@github.com:wisconsinautonomous/wa_simulator_ros_bridge.git
[submodule "workspace/src/external/rosboard"]
	path = workspace/src/external/rosboard
	url = git@github.com:WisconsinAutonomous/rosboard.git
[submodule "darknet"]
	path = workspace/src/external/darknet
	url = git@github.com:AlexeyAB/darknet.git
